@import "../../Style/Variabless";

.score {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  z-index: 4;
  width: 800px;
  height: 750px;
  background-color: $bluegray;
  border-radius: 10px;

  button {
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    background-color: $darkblue;
    color: $myblue;
  }
  button:hover {
    background-color: $myblue;
    color: $darkblue;
  }

  h3 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .gold_box {
    color: gold;
    font-size: 24px;
    padding: 5px;
    margin-bottom: 50px;
  }
  .gold_item {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .score_box {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(1, 250px);
    align-items: center;
    max-height: 500px;
    overflow-y: auto;
    .score_boxItem {
      max-width: 180px;
      margin-left: 30px;

      text-align: center;
      img {
        width: 100px;
        height: 100px;
        border: 1px solid gray;
        padding: 10px;
        margin-bottom: 15px;
        cursor: pointer;
      }
      img:hover {
        background: #40374a;
      }
      h4 {
        font-size: 18px;
        color: #64d0c4;
        margin-bottom: 10px;
      }
      p {
        color: white;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
  .modalScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 15;
    width: 400px;
    height: 300px;
    background: rgb(254, 242, 188);
    border-radius: 15px;
    text-align: center;
    margin-top: 200px;
    h2 {
      color: #2c6b7d;
      margin-bottom: 20px;
    }
    button {
      margin-bottom: 10px;
    }
  }

  .score_box::-webkit-scrollbar {
    border-radius: 5px;
    background-color: #042453;
  }

  .score_box::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #5d4474;
  }
}

@media screen and (max-width: 480px) {
  .score {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    .score_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px;
      margin-bottom: 10px;
      .score_boxItem {
        max-width: 120px;
      }
    }
  }
  .inventory {
    max-width: 100%;
    overflow: hidden;
  }
}
