.Menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(../../img/castle.jpg) no-repeat;
  background-size: cover;
}

.Menu_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin-left: 230px;

  span {
    font-size: 18px;
    width: 200px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #042453;
    color: #25a0b0;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
  }
  span:hover {
    opacity: 0.85;
  }
  span:active {
    background-color: rgb(225, 225, 225);
  }
}

.icon {
  background-color: #042453;
}

@media screen and (max-width: 480px) {
  .Menu {
    max-width: 100vh;
    overflow: hidden;
  }
  .Menu_box {
    margin-left: 0;
  }
}
