$myblue: #64d0c4;
$bluegray: #2c6b7d;
$darkblue: #042453;
$fiol: #40374a;

.StartModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  z-index: 2;
  max-width: 600px;
  height: 400px;
  background-color: $bluegray;
  border-radius: 10px;

  .title {
    h2 {
      color: $myblue;
    }
    margin-bottom: 40px;
  }
  .heroes_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .heroes_item {
      width: 100%;
      max-height: 200px;
      color: $myblue;
      background-color: $fiol;
      margin: 10px;
      border-radius: 10px;
      padding: 15px;
      text-align: center;
      cursor: pointer;
      img {
        width: 100px;
        height: 100px;
        margin-bottom: 5px;
      }
    }
    h3 {
      font-size: 18px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
    .heroes_item:hover {
      color: #40374a;
      background-color: $myblue;
    }
  }
}

@media screen and (max-width: 390px) {
  .StartModal {
    max-width: 370px;
    .heroes_box {
      .heroes_item {
        min-width: 110px;
        margin: 5px;
        h3 {
          font-size: 14px;
        }
        img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
