* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: 'Roboto', sans-serif;
     overflow: hidden;
}



@media screen and (max-width: 390px) {
    body {
      
        overflow-x: hidden;
    }
  }